/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  /*filter: blur(10px);*/
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto ;
    background-color: #171730;
    font-family: "roboto", sans-serif;
}

.if-ico {
    width: 156px;
}

.header-title {
    margin: 20px 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.list-dash {
    width: 100%;
    height: 68px;
    border: none;
    border-top: 1px solid rgba(46, 52, 102, 0.4);
    border-bottom: 1px solid rgba(46, 52, 102, 0.4);
    font-size: 14px;
    font-family: "roboto";
    
}
#dashboard-list{
    position: sticky;
    top:0;
    z-index: 1;
    background-color: #171730;
}

.main-header-title {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin: 36px 0 8px 0;
}

.description-main {
    display: flex;
    justify-content: center;
    color: rgba(250, 250, 250, 0.7);
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 24px;
}

/*--- main container ---*/
.left_container {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(46, 52, 102, 0.8);
}

.card_container {
    padding: 8px;
    margin: 8px;
    
}
.kpi_container:first-child .card_container {
    border-right: 1px solid rgba(46, 52, 102, 0.8);
    box-sizing: border-box;
    margin-right: 0px;
}



.card_container h1 {
    font-weight: bold;
    color: white;
    line-height: 32px;
    font-size: 22px;
    margin: 0px;
}

.card_container h3 {
    color: rgba(250, 250, 250, 0.7);
    line-height: 16px;
    font-size: 14px;
    margin: 5px 0 0 0;
}

.card_container p {
    font-weight: normal;
    color: rgba(250, 250, 250, 0.7);
    line-height: 1px;
    margin: 12px 0 24px 0;
    font-size: 14px;
}

.card_container a {
    font-weight: normal;
    color: rgba(250, 250, 250, 0.7);
    line-height: 1px;
    margin: 12px 0 24px 0;
    text-align: center;
    width: 100%;
    font-size: 25px;
}

.card_container h2 {
    font-weight: bold;
    color: white;
    line-height: 32px;
    font-size: 22px;
    margin: 0px;
    text-align: center;
    width: 100%;
}

.a_list_kpi{
    color: rgba(250, 250, 250, 0.7);
    font-size: 14px;
    margin-left: 12px;
    width: 50%;
}

.b_list_kpi{
    color: rgba(250, 250, 250, 0.7);
    font-size: 14px;
    text-align: right;
    width: 40%;
}

.kpi_container {
    width: 50%;
    display: inline-block;
}

.left_container_h1 {
    margin: 80px 0 16px 0;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#transactions-over-time{
    border-radius: 10px;
    /* border: 1px solid rgba(46, 52, 102, 0.8); */
}


/*templet*/
.single_column{
    margin: 16px 0px 0px 0px;
    border-radius: 10px;
    border: 1px solid rgba(46, 52, 102, 0.8);
    min-height: 293px;
}
.two_column_box{
    display: flex;
}
.two_column{
    margin: 16px 0px 0px 0px;
    border-radius: 10px;
    border: 1px solid rgba(46, 52, 102, 0.8);
    min-height: 293px;
    max-height: 590px;
    overflow: hidden;
    overflow-y: scroll;
}
.big_colune{ 
    width: 66%;
    margin: 16px 16px 0 0;
}
.small_colune{ width: 34%;}

.title_small{
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    color: #FAFAFA;
    margin: 24px 24px 0 24px;
}

.note{
    text-align: center;
    color: rgba(46, 52, 102, 0.8);
}

/*--- Middle Content ---*/
.grid-container {
    display: flex;
    color: rgba(250, 250, 250, 0.7);
    width: calc(100% - 100px);
    padding: 0px 50px;
}
.grid-container .left{
    width: calc(100% - 24px);
    margin-right: 24px;
}

/*--- Filter Criteria ---*/
.right_container {
    border-radius: 10px;
    width: 239px;
    padding: 24px;
    height: calc(100vh - 159px);
    background-color: rgba(46, 52, 102, 1);
    color: white;
    position: sticky;
    top: 92px;
    overflow-y: scroll;
}

.right_container h2 {
    font-size: 16px;
    font-weight: 700;
}

.right_container p {
    font-size: 14px;
    padding:24px 0 8px 0;
}

.prices-dropdown-table-input {
    margin: 16px 24px 0px 24px;
}
.prices-dropdown-table-input.Select--single>.Select-control .Select-value{
    background-color: #414574;
    
}
.prices-dropdown-table-input .main-chains-selection{
    color: #fff;
    font-weight: normal;
}
.prices-dropdown-table-input .Select-control{
    border: none;
}
.prices-dropdown-table-input .ReactVirtualized__Grid__innerScrollContainer{
    background: #414574;
}
.dash-dropdown .Select-menu-outer{
    border: none;    
}

.main-chains-selection {
    margin-bottom: 1px;
    margin-left: 5px;
    color: darkblue;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
    font-size: 10px;
}


/* Scrolling list */

.viewport {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.list {
    list-style: none;
    border: 5px solid #fff;
    background-color: #181818;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    overflow-x: scroll;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    height: 50px;
    width: 125px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 1);
    flex-shrink: 0;
}

.item:nth-child(4n + 1) {
    background-color: #facd3d;
}
.item:nth-child(4n + 2) {
    background-color: #5626c4;
}
.item:nth-child(4n + 3) {
    background-color: #e60576;
}
.item:nth-child(4n + 4) {
    background-color: #2cccc3;
}
.item:not(:last-child) {
    margin-right: 10px;
}



/* User raiting */

.user_rank_card {
    padding: 4px;
    margin: 4px;
    position: absolute;
    right: 25px;
    top: 250px;

    border: 3px solid #8C82FC;
    border-radius: 10px;
}

.user_rank_card h1 {
    font-weight: bold;
    color: white;
    line-height: 32px;
    font-size: 20px;
    margin: 0px;
    text-align: center;
}

.user_rank_card h6 {
    font-weight: bold;
    color: white;
    line-height: 32px;
    font-size: 10px;
    margin: 0px;
    text-align: center;
}

.user_rank_card p {
    font-weight: normal;
    color: rgba(250, 250, 250, 0.7);
    line-height: 1px;
    margin: 14px 0 24px 0;
    font-size: 30px;
    text-align: center;
}

.user_rank_card iframe {
    margin-left: 30%;
    margin-bottom: -120px;
}


/* Submit Buttons */

@keyframes placeHolderShimmer {
    0% {
        background-position: 0px 0;
    }
    100% {
        background-position: 100em 0;
    }
}

.web_style_input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 2px;
    background: #171730;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0px;
        right: 0px;
        bottom: -4px;
        z-index: 999;
        height: 4px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        background-position: 0% 0%;
        background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);

        animation-duration: 20s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
    }
}

.web_style_input input {
    flex-grow: 1;
    color: #171730;
    font-size: 20px;
    vertical-align: middle;
}

.web_style_input button {
    font-family: 'Ubuntu', sans-serif;
    flex-direction: row;
    vertical-align: middle;

    width: 170px;
    height: 40px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #8C82FC;
    background: #fff;
    color: #8C82FC;
    cursor: pointer;
    overflow: hidden;
    transition: all .25s;
}

.web_style_input button:hover {
    background: #8C82FC;
    color: #fff;
}